/*Aplico estilos a la pagina Contacto*/

.miFormulario {
  margin: auto;
  border: 1px solid $color-btn-secundary;
  border-radius: 10px;
  width: 60%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  align-items: center;

  label {
    width: 100%;
    height: auto;
    font-size: 1.5rem;

  }

  input {
    width: 80%;
    height: auto;
    font-size: 1.3rem;
    border-radius: 6px;
    border: 1px solid $color-btn-secundary;
  }

  textarea {
    font-size: 1.3rem;
    width: 80%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid $color-btn-secundary;
  }

  .imagenIcono {
    i {
      font-size: 2em;
    }
  }

  .botonera {
    width: 80%;
    @include miFlex(row, nowrap);
    justify-content: center;
    column-gap: 10px;

    .miBoton,
    .miBorrar {
      border: 1px solid $color-btn-secundary;
      border-radius: 6px;
      width: 150px;
      @include colorBotones;

      &:hover {
        opacity: (0.4);
      }
    }
  }
}