/*Aplico estilos a la pagina Contacto*/

.miFormulario {

    @include miFlex(column,nowrap);
    row-gap: 5px;
    align-items: center;
  
    .miBoton {
      width: 150px;
      height: auto;
      @include colorBotones;
      font-size: 1.5rem;
    }
  
    input {
      width: 40vw;
      border: $color-primary solid 1px;
      border-radius: 5px;
      @include miBackground;
      font-size: 2rem;
    }
  
    textarea {
        width: 40vw;
        border: $color-primary solid 1px;
        border-radius: 5px;
        @include miBackground;
        font-size: 2rem;
      }

}
  

  