/*Estilos para el Footer*/

@keyframes textoFooter {
  0% {
    color: $color-primary;
  }

  25% {
    color: $color-background-dos;
  }

  50%{
    color: $color-btn-primary;
  }
  75%{
    color: $color-btn-secundary;
  }
  100%{
    color: $color-background-uno;
  }

}

.contenedorFooter {
  padding-bottom: 10px;
  text-align: center;
  background-color: $color-background-uno;
  

  div{
    .micopyright {
      animation-name: textoFooter;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    img{
      margin-top: 10px;
      width: 250px
    }
  
  }
  .contenedorRedesSociales {
    @include miFlex(row, nowrap);
    gap: 20px;
    justify-content: center;
    a{
      text-decoration: none;
      color: black;
    }

  }
}