/*Funciones y variables*/

$color-primary: rgb(43, 31, 31);
$color-btn-primary:#e5f5b2;
$color-btn-secundary: #ebb88b;
$color-background-uno: #fefae0;
$color-background-dos:#e9e5e1;

@mixin miFlex($flex-direction,$wrap){
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $wrap;
}
@mixin miBackground{
    background-image: linear-gradient(to right,$color-background-uno,$color-background-dos);
}
@mixin colorBotones{
    background-image: linear-gradient(to right,$color-btn-primary,$color-btn-secundary);
}