/*Aplico query medias*/

@media (max-width: 585px) {

  /*Aplica a todas las paginas del proyecto*/
  body {
    h1 {
      margin-top: 15px;
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1.2rem;
    }

  }

  header {
    .logoNav {
      width: 70%;
    }
  }

  /*Aplica a todas las paginas del proyecto*/

  .contenedorFooter {
    .infoFooter {
      ul {
        @include miFlex(column, nowrap);
        justify-content: center;
        list-style: none;
        gap: 5px;

        li {
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }

  /*Aplica solo a la pagina Index*/
  .contenedorMain {

    .sec2,
    .sec4 {
      width: 94%;
      overflow: hidden;
    }
  }

  /*Aplica solo a la pagina Shop*/

  .contenedorShop{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    justify-content: center;
    .producto{
      display: flex;
      flex-direction: column;
      .imagenDelProducto {
        width: 100%;
        height: 60%;
        object-fit: cover;
      }
      .descripcionDelProducto{
        p{
          display: none;
        }
        h2{
          font-size: 7vw;
        }
        .precio{
          .oferta {
            font-size: 5vw;
          }
          .precioNormal {
            font-size: 3vw;
          }
        }
        button{
          height: 25%;
          span{
            font-size: 3vw;
          }
        }
      }
    }
  }
  /*Aplica solo a la pagina contacto*/

  .miFormulario {
    @include miFlex(column,nowrap);
    width: 90%;
    label,input,textarea{
      width: 96%;
    }
    label{
      text-align: start;
    }
    .imagenIcono{
      display: none;
    }
    .botonera{
      margin: 10px;
    }
  }

  /*Aplica solo a la pagina ubicacion*/
  .miMapa {
    iframe {
      width: 90%;
    }
  }
}


@media (min-width: 586px) and (max-width: 981px) {

  /*Aplica a todas las paginas del proyecto*/
  body {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.8rem;
    }

  }

  /*Aplica solo a la pagina Index*/
  .contenedorMain {

    .sec2,
    .sec4 {
      width: 80%;
      overflow: hidden;
    }
  }

  /*Aplica a todas las paginas del proyecto*/

  .contenedorFooter {
    .infoFooter {
      ul {
        @include miFlex(column, nowrap);
        gap: 5px;
        justify-content: center;
        list-style: none;

        li {
          a {
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }

  /*Aplica solo a la pagina Shop*/

  .contenedorShop {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    justify-content: center;
    
    .producto {
      .descripcionDelProducto {
        h2 {
          font-size: 5vw;
        }

        p {
          display: none;
        }

        .precio {
          .precioNormal {
            font-size: 1.5vw;
          }

          .oferta {
            font-size: 3vw;
          }
        }
        button{
          height: 25%;
          span{
            font-size: 2vw;
          }
        }

      }
    }
  }

  /*Aplica solo a la pagina ubicacion*/
  .miMapa {
    iframe {
      width: 80%;
    }
  }
}