/*Aplico estilos a la pagina ubicacion*/
    .miMapa {
        text-align: center;
        iframe{
            width: 70%;
        }
    }

    .miHorario {
        .diasYHorarios {
            font-size: 1rem;
        }

        h2 {
            font-weight: bold;
            @extend .diasYHorarios;
        }

    }