*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************Aplicamos estilos al NAV*************************************/

body{
    background-color: #eaf2e3;
    font-family: 'Oswald', sans-serif;
}



h1{
    font-size: 3rem;
    text-shadow: 4px 4px 5px;
    font-weight: bold;
    color: rgba(252, 126, 0, 0.61);
}

.secciones{
    border: #c7ba99 1px solid;
    background-color: rgba(252, 126, 0, 0.61);
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}

.secciones:hover{
    transform:scale(1.2);
    background-color: #eb7f1b;
}

.active{
    background-color: #eb7f1b;

}

h1:hover{
    color:#eb7f1b;
    ;
}

/*****Aplicando estilos al MAIN*****/

p{
    margin: 10px;
    font-size: 1.5rem;
}

.contenedorMain {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2, .sec4{
    width: 50%;
    overflow: hidden;
}
.contenedorMain img{
    width: 100%;
    border-radius: 10px;
    border: #eb7f1b solid 3px;
    border-image: linear-gradient(45deg, red, lime, blue) 1;
    transition: 0.5s;
    object-fit: cover;
}

.contenedorMain img:hover{
    transform: scale(1.2);
}


/*****Aplicamos estilos al FOOTER*****/

.contenedorFooter{
    border-top: #eb7f1b 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}

.contenedorRedesSociales{
    display: flex;
    gap:20px;
    justify-content: center;

}

.iconoRedSocial{
    padding-top: 10px;
}

.contenedorRedesSociales img{
    width: 40px;
}

.contenedorSubtitle{
    font-family: 'Playpen Sans', cursive;
    font-weight: bold;
    font-size: 1rem
}

/**************************************************Estilos de la page Shop************************************************************/
.miBoton{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(174, 175, 175);
    color: black;
    font-weight: bold;
}

.miImagen{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: #eb7f1b solid 3px;
    border-image: linear-gradient(45deg, red, lime, blue) 1;
}

.contenedorCards{
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}
.miCard, .primerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************************Estilos a Taller***********************/

.contenedorTaller{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:center;
}

.contenedorTaller img{
    width: 100%;
    height: 100%;
}

.miCardTaller{
    text-align: center;
}

.miSlider{
    margin: 10px;
}
.miSlider img {
    width: 100vh;
    height: 50vh;
    object-fit: cover;
    overflow: auto;
}


/****************************Estilos contacto****************************/
.miFormulario{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;

}

label{
    font-size: 1.5rem;
    font-weight: bolder;
}

.miBoton{
    width: 150px;
    height: auto;
    background-color: #eb7f1b;
    font-size: 1.5rem;
}

input,textarea{
    width: 40vw;
    border: #eb7f1b solid 1px;
    border-radius: 5px;
    background-color:#eaf2e3;
    font-size: 2rem;
}


/****************************Media Queries/****************************/

@media (max-width: 600px){
    .contenedorCards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .miImagen{
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border: #eb7f1b solid 3px;
        border-image: linear-gradient(45deg, red, lime, blue) 1;
    }

    .sec2, .sec4{
        width: 100%;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (min-width:601px) and (max-width: 989px){

    .contenedorCards{
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .miImagen{
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: #eb7f1b solid 3px;
        border-image: linear-gradient(45deg, red, lime, blue) 1;
    }
    .sec2, .sec4{
        width: 75%;
        overflow: hidden;
    }
}

@media(max-width: 1299px){
    input,textarea{
        width: 90vw;
        border: #eb7f1b solid 1px;
        border-radius: 5px;
        background-color:#eaf2e3;
        font-size: 1.5rem;
    }
}

@media(min-width: 1300px) and (max-width: 1600px){
    input,textarea{
        width: 70vw;
        border: #eb7f1b solid 1px;
        border-radius: 5px;
        background-color:#eaf2e3;
        font-size: 2rem;
    }
}