/*Funciones y variables*/
/*Reset de la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos al body*/
body {
  background-image: linear-gradient(to right, #fefae0, #e9e5e1);
  font-family: "Oswald", sans-serif;
  text-align: center;
}
body h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}
body h2 {
  text-align: center;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}
body h3 {
  font-weight: bold;
  font-size: 2.5rem;
}
body p {
  margin: 10px;
  font-size: 2rem;
}

/*Estilos al nav*/
/*
@keyframes sliderLogo {
  from {
    margin-left: 500%;

  }
  to {
    margin-left: 0%;

  }
}
*/
header a img {
  width: 90%;
  transition: all 1s;
}
header a:hover {
  transform: rotate(-10deg);
}
header a.secciones {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
header a.secciones:hover {
  transform: scale(1.2);
  text-decoration: underline;
}
header a.active {
  text-decoration: underline;
}
header .botonMenu {
  font-size: 1.6rem;
  font-weight: bold;
}

/*Estilos para el Footer*/
@keyframes textoFooter {
  100% {
    color: #ebb88b;
  }
}
.contenedorFooter {
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  background-image: linear-gradient(to right, #fefae0, #e9e5e1);
}
.contenedorFooter .divisor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.contenedorFooter .divisor hr {
  width: 40%;
}
.contenedorFooter div .micopyright {
  animation-name: textoFooter;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.contenedorFooter div img {
  margin-top: 10px;
  width: 250px;
}
.contenedorFooter .contenedorRedesSociales {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
}
.contenedorFooter .contenedorRedesSociales a {
  text-decoration: none;
  color: black;
}
.contenedorFooter .infoFooter {
  margin-top: 20px;
}
.contenedorFooter .infoFooter ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
  list-style: none;
}
.contenedorFooter .infoFooter ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
.contenedorFooter .infoFooter ul li a:hover {
  color: #ebb88b;
}

/*Estilos al index*/
.contenedorMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorMain .sec2, .contenedorMain .sec4 {
  width: 70%;
  overflow: hidden;
  border-radius: 10px;
  border: solid 3px #ebb88b;
}
.contenedorMain img {
  width: 100%;
  transition: 0.5s;
}
.contenedorMain img:hover {
  transform: scale(1.2);
}

/*Estilos a la shop.*/
.contenedorShop {
  margin-inline: 20px;
  margin-block: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
}
.contenedorShop .producto {
  border: 1px solid #ebb88b;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.contenedorShop .producto .imagenDelProducto {
  width: 50%;
  height: auto;
}
.contenedorShop .producto .imagenDelProducto img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.contenedorShop .producto .descripcionDelProducto {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contenedorShop .producto .descripcionDelProducto h2 {
  font-size: 2.5vw;
}
.contenedorShop .producto .descripcionDelProducto p {
  font-size: 1.8vw;
}
.contenedorShop .producto .descripcionDelProducto .precio {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.contenedorShop .producto .descripcionDelProducto .precio .oferta {
  font-family: "Fraunces", serif;
  font-size: 2vw;
  color: green;
}
.contenedorShop .producto .descripcionDelProducto .precio .precioNormal {
  font-family: "Fraunces", serif;
  font-size: 1.2vw;
  text-decoration: line-through;
  color: red;
}
.contenedorShop .producto .descripcionDelProducto button {
  width: 60%;
  margin: 10px;
  border-radius: 5px;
  background-image: radial-gradient(ellipse, #e5f5b2, #ebb88b);
  text-align: center;
}
.contenedorShop .producto .descripcionDelProducto button:hover {
  opacity: 0.5;
}
.contenedorShop .producto .descripcionDelProducto button span {
  font-size: 1.5vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
}
.contenedorShop .producto .descripcionDelProducto button span:hover {
  color: darkorange;
}

/*Aplico estilos a la page Taller*/
.contenedorTaller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.contenedorTaller img {
  width: 100%;
  height: 100%;
}

.miCardTaller {
  text-align: center;
}

.miSlider {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.miSlider img {
  width: 100vh;
  height: 50vh;
  object-fit: cover;
  overflow: auto;
}

/*Aplico estilos a la pagina Contacto*/
.miFormulario {
  margin: auto;
  border: 1px solid #ebb88b;
  border-radius: 10px;
  width: 60%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  align-items: center;
}
.miFormulario label {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
}
.miFormulario input {
  width: 80%;
  height: auto;
  font-size: 1.3rem;
  border-radius: 6px;
  border: 1px solid #ebb88b;
}
.miFormulario textarea {
  font-size: 1.3rem;
  width: 80%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #ebb88b;
}
.miFormulario .imagenIcono i {
  font-size: 2em;
}
.miFormulario .botonera {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 10px;
}
.miFormulario .botonera .miBoton,
.miFormulario .botonera .miBorrar {
  border: 1px solid #ebb88b;
  border-radius: 6px;
  width: 150px;
  background-image: radial-gradient(ellipse, #e5f5b2, #ebb88b);
}
.miFormulario .botonera .miBoton:hover,
.miFormulario .botonera .miBorrar:hover {
  opacity: 0.4;
}

/*Aplico estilos a la pagina ubicacion*/
.miMapa {
  text-align: center;
}
.miMapa iframe {
  width: 70%;
}

.miHorario .diasYHorarios, .miHorario h2 {
  font-size: 1rem;
}
.miHorario h2 {
  font-weight: bold;
}

/*Aplico query medias*/
@media (max-width: 585px) {
  /*Aplica a todas las paginas del proyecto*/
  body h1 {
    margin-top: 15px;
    font-size: 1.8rem;
  }
  body h2 {
    font-size: 1.5rem;
  }
  body h3 {
    font-size: 1.3rem;
  }
  body p {
    font-size: 1.2rem;
  }
  header .logoNav {
    width: 70%;
  }
  /*Aplica a todas las paginas del proyecto*/
  .contenedorFooter .infoFooter ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    gap: 5px;
  }
  .contenedorFooter .infoFooter ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
  /*Aplica solo a la pagina Index*/
  .contenedorMain .sec2,
  .contenedorMain .sec4 {
    width: 94%;
    overflow: hidden;
  }
  /*Aplica solo a la pagina Shop*/
  .contenedorShop {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto;
    justify-content: center;
  }
  .contenedorShop .producto {
    display: flex;
    flex-direction: column;
  }
  .contenedorShop .producto .imagenDelProducto {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  .contenedorShop .producto .descripcionDelProducto p {
    display: none;
  }
  .contenedorShop .producto .descripcionDelProducto h2 {
    font-size: 7vw;
  }
  .contenedorShop .producto .descripcionDelProducto .precio .oferta {
    font-size: 5vw;
  }
  .contenedorShop .producto .descripcionDelProducto .precio .precioNormal {
    font-size: 3vw;
  }
  .contenedorShop .producto .descripcionDelProducto button {
    height: 25%;
  }
  .contenedorShop .producto .descripcionDelProducto button span {
    font-size: 3vw;
  }
  /*Aplica solo a la pagina contacto*/
  .miFormulario {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
  }
  .miFormulario label, .miFormulario input, .miFormulario textarea {
    width: 96%;
  }
  .miFormulario label {
    text-align: start;
  }
  .miFormulario .imagenIcono {
    display: none;
  }
  .miFormulario .botonera {
    margin: 10px;
  }
  /*Aplica solo a la pagina ubicacion*/
  .miMapa iframe {
    width: 90%;
  }
}
@media (min-width: 586px) and (max-width: 981px) {
  /*Aplica a todas las paginas del proyecto*/
  body h1 {
    font-size: 3rem;
  }
  body h2 {
    font-size: 2.5rem;
  }
  body h3 {
    font-size: 2rem;
  }
  body p {
    font-size: 1.8rem;
  }
  /*Aplica solo a la pagina Index*/
  .contenedorMain .sec2,
  .contenedorMain .sec4 {
    width: 80%;
    overflow: hidden;
  }
  /*Aplica a todas las paginas del proyecto*/
  .contenedorFooter .infoFooter ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    list-style: none;
  }
  .contenedorFooter .infoFooter ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }
  /*Aplica solo a la pagina Shop*/
  .contenedorShop {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: auto;
    justify-content: center;
  }
  .contenedorShop .producto .descripcionDelProducto h2 {
    font-size: 5vw;
  }
  .contenedorShop .producto .descripcionDelProducto p {
    display: none;
  }
  .contenedorShop .producto .descripcionDelProducto .precio .precioNormal {
    font-size: 1.5vw;
  }
  .contenedorShop .producto .descripcionDelProducto .precio .oferta {
    font-size: 3vw;
  }
  .contenedorShop .producto .descripcionDelProducto button {
    height: 25%;
  }
  .contenedorShop .producto .descripcionDelProducto button span {
    font-size: 2vw;
  }
  /*Aplica solo a la pagina ubicacion*/
  .miMapa iframe {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
